@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

.app {
  margin: 0;
  padding: 0;
  background-color: #ADADAD;
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p {
  font-weight: 500;
}
.app {
  position: relative;
  padding: 20px;
  border-radius: 2px;
  margin-top: 20px;
  background-color: #D3D3D3;
}

.title {
  margin-bottom: 9px;
  font-size: 28px;
  font-weight: bold;
}

.month-and-year {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
}

.week {
  margin-bottom: 20px;
  width: 335px;
  height: 53px;
  border-radius: 7px;
  background-color: #C8C8C8;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.week > div {
  text-align: center;
}

.day-name,
.day-number {
  display: block;
  text-align: center;
}

.checked-day {
  background-color: #9C9C9C;
  border-radius: 8px;
}

.tasks-block {
  margin-top: 10px;
  margin-bottom: 60px;
}

.task {
  background-color: #D6DEE8;
  border-radius: 8px;
  min-height: 53px;
  border: 1px solid #999;
  margin-bottom: 10px;
  position: relative;
}

.completed {
  background-color: #CAE5CE;
}

.selected {
  background-color: #B8D1ED;
}

.btn-group {
  margin: 15px 30px;
  display: flex;
  justify-content: space-around;
}

.current-task {
  position: absolute;
  left: 18px;
  top: 23px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #FF6A00;
  margin-right: 8px;
}

.task__name {
  margin: 4px 42px;
  font-size: 16px;
  font-weight: 500;
}

.task__date {
  margin: 4px 42px;
  font-size: 10px;
  font-weight: 400;
}

.task__description {
  margin: 4px 42px;
  font-size: 14;
  font-weight: 300;
}

.add-button {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 70px;
  right: 157.5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #D6DEE8;
  border: 1px solid #999;
  cursor: pointer;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar {
  color: #D3D3;
  font-family: 'Nunito', sans-serif;
  position: absolute;
  right: 0%;
  top: 205px;
}
